:root{
    --green:#00ff2a;
    --purple:#ff07f3;
    --dark-blue: #012677; 
    --blue: #0418f5;
    --skyblue:#00b4fc;
    --light-blue: #005bc5;
    --dark-pink: #f64c57;
    --dark-magenta: #e21b5a;
    --light-green: #61e2c2; 
    --light-purple: #d9abff
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    color: inherit;
    text-decoration: none;
}
body{
    background: #222;
}

header{
    padding: 21px 70px;
    position: fixed;
    display:flex;
    z-index: 3;
    background-color: #222;
    width: 100%;
    top: -10px;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo i{
    height: 45px;
    width: 45px;
    margin-left: -3rem;
    background-color: aqua;
    border-radius: 50%;
    color: rgb(39, 39, 39);
    font-weight: 100;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #ffffff;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 25px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: aqua;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks {
    list-style: none;
    margin-left: 37rem;
    margin-top: 10px;
}
nav .navlinks li{
    display:inline-block;
    
}
nav .navlinks li a{
    color: #ffffff;
    padding: 15px;
    margin: 1rem;
    font-size: 20px;
    font-family: 'Courier New', 
                  Courier, monospace;
    font-weight: bold;
    text-align: center;
    ;            
}
nav .navlinks li a:hover{
    background-color: none;
    padding: 15px;
    border-spacing: 2px;
    border-bottom: 2px solid #028bca;
}
nav .navlinks .active {
    
    padding: 15px ;
    border-radius: 1px;
    border-bottom: 2px solid #028bca;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width:100%;
    flex-wrap: wrap;
    position: relative; 
    padding-top: 5rem;
}
.portfolio-z{
    background: #111;
    width: 400px;
    padding: 3rem;
    border: 2px solid #00b4fc;
    border-radius: 10px;
    min-height: 400px;
    
    color: #fff;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.portfolio-z .portfolio-pic{
    margin-top: 15px;
    overflow: hidden;
}
.portfolio-z .portfolio-pic img{
    border: 2px solid #00b4fc;
    border-radius: 10px;
    height: 240px;
    width: 200px;
}
.portfolio-z .profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.profile-details .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-details .intro h2{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile-details .intro h4{
    background: #1d1d1d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 4px;
    
    padding: 5px 10px;
    margin: 8px;
    cursor: pointer;
}
.profile-details .intro .social{
    margin-top: 10px;
    margin-bottom: 25px;
}
.profile-details .intro .social i{
    color:#fff;
    font-size: 16px;
    background:#1d1d1d;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.profile-details .intro .social i:hover {
    transform: scale(1.2);
    border: 1px solid rgba(0, 148, 247, 0.1);
}
.profile-details .contact-info{
    background-color: #1d1d1d;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}
.profile-details .contact-info .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(202, 202, 202, 0.2);
    padding: 30px 0px;
    margin-bottom: 20px;
}
.contact-info .row .icon {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #111;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}
.row .icon:hover {
    transform: scale(1.2);
    border: 1px solid rgba(255,255,255,0.1);
}
.row .content{
    min-width: 70%;
}
.row .content span {
    font-size: 12px;
}
.download-btn {
    background-color: #00b4fc;
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 30px;
    margin-top: 1.5rem;
    border: none;
    cursor: pointer;
}
/*****about section*****/
.about{
    background-color: #111;
    max-width: 800px;
    padding: 1rem 1rem;
    border-radius: 10px;
    border: 3px solid #00b4fc;
    
}
.about h1{
    color: #f2f2f2;
    margin-bottom: 1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
}
.about h1::after{
    position: absolute;
    content: "";
    top: 40%;
    right: -50%;
    width: 45%;
    height: 3px;
    background: #00b3f9;
    
}
.about p{
    color: #f3f3f3;
    margin: 1.5rem 0;
}
.about .work{
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: auto;
}
.work .workbox {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid #00b4fc;
    padding: 1rem;
    margin: 1rem;
    padding-top: 1rem;
}
.work .workbox .desc{
    width: 65%;
    color: #f1f1f1;
}
.work .workbox .desc ul li{
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: -3rem;
   
    
}
.work .workbox .Ed {
    width: 75%;
    color: #555;
}
.work .workbox .Eb {
    width: 75%;
    color: #555;
}
.work .workbox .desc h3{
    color: #b93fff;
    margin-bottom: 3px;
}
.work .workbox .Ed h3{
    color: #00b4fc;
    margin-bottom: 3px;
}
.workbox .Ed li{
    color: #f1f1f1;
}
.work .workbox .Eb h3{
    color: #d6fc00;
    margin-bottom: 3px;
}
.work .workbox .icon img{
    height:80px;
    width: 38px;
    display: flex;
}


/* Responsiv design & displaying navbar for small screen */
@media(max-width:600px)
{
    nav .togglebtn{
        display: initial;
    }
    .intro h2{
        font-size: 1.2rem;
        font-family: 'Courier New', Courier, monospace;
    }
    .about{
        width: max-content;
        
    }
    .about h1::after{
        position: absolute;
        content: "";
        top: 50%;
        right: -35%;
        width: 30%;
        height: 3px;
        background: #00b3f9;

        
    }
    .about h1{
        font-size: 3rem;
    
    }
    .about .work{
        display: inline-block;
    }
    /* for toggle button**/
    .click {
        top: 45px;
    }
    .click span {
        position: absolute;
        
    }
    .click span:first-child{
        transform: rotate(-45deg);
    }
    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }
    .click span:last-child {
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks {
        position: absolute;
        top: 80px;
        right: 100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color:#222 ;
        z-index: 1;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
        
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
        border: none;
    }
    nav .navlinks.open{
        right: 0;
    }
}
